<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0">
	<title>Sfotipy</title>
	<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../statics/css/style.css">
</head>
<body>
	<header class="Header">
		
		<a class="Header-options icon-list" href="#"></a>
		<h1 class="Header-title">Top hits</h1>
		<div class="Header-divWrap">
		<div class="Header-dateContent u-displaynone wrap">
		<figcaption class="Header-logoContainer u-displaynone">
			<img class="Header-image u-image" src="../statics/img/logo.png" alt="">
		</figcaption>
			<div class="Header-formContend">
				<a class="Header-formIcon1 u-iconForm icon-buscar" href=""></a>
				<input type="text" class="Header-text" placeholder="Ejem:Ali Urbina">
				<a class="Header-formIcon2  u-iconForm " href="#">X</a>
			</div>
				<figcaption class="Header-avatarContainer">
					<img class="Header-avatar u-image" src="../statics/img/avatares/leonidas.jpg" alt="">
				</figcaption>
				<span class="Header-name">@aliurbin</span>
		</div>
		</div>
		<nav class="Playlist-navegacion u-displaynone wrap">
			<ul class="Playlist-lista">
				<li class="Playlist-item"><a href="" class="Playlist-ancle">TOP HITS</a></li>
				<li class="Playlist-item"><a href="" class="Playlist-ancle">PERFIL</a></li>
				<li class="Playlist-item"><a href="" class="Playlist-ancle">AJUSTES</a></li>
				<li class="Playlist-item"><a href="" class="Playlist-ancle">LISTA DE REPRODUCCIÓN</a></li>
			</ul>
		</nav>
	</header>
	<section class="SectionPrincipal wrap">
		<section class="Playlist">
			<figure class="Playlist-imageContainer" >
				<img class= "Playlist-image u-image" src="../statics/img/albunMusicas/pharrellWilliamsPlaying.jpg" alt="">
				<div class="Playlist-love">
					<a class="Playlist-iconLove u-icon icon-cruz" href="#"></a>
					<a class="Playlist-iconLove u-icon icon-corazon" href="#"></a>
					<a class="Playlist-iconLove u-icon icon-descargar" href="#"></a>
				</div>
			</figure>
			<div class="Playlist-content">
				<div class="u-title2 Playlist-inicio u-display ">0:45</div>
				<div class="Playlist-containerBarrita u-display">
					<div class="Playlist-barrita">
						<div class="Playlist-circle">
						</div>
					</div>
				</div>
				<div class="u-title2 Playlist-termino u-display ">4:10</div>
				<h2 class="Playlist-title1 u-title1">Come Get It Bae</h2>
				<h3 class="Playlist-title2 u-title2">Pharrell Williams</h3>
				<p class="Playlist-contentIcon"> 
					<a class="Playlist-icon u-icon icon-atras" href="#"></a>
					<a class="Playlist-icon u-icon icon-play" href="#"></a>
					<a class="Playlist-icon u-icon icon-adelante" href="#"></a>
					<a class="Playlist-icon u-icon icon-aleatorio" href="#"></a>
					<a class="Playlist-icon u-icon icon-volumen" href="#"></a>
				</p>
			</div>
		</section>
		<section class="ListMusic u-displaynone">
		<p class="u-title1">Girl</p>
		<p class="u-title2">Pharrell Williams</p>
		<ul>
		<li class="ListMusic-item">Marilyn Monroe
			<a class="ListMusic-icon u-icon icon-cruz" href="#"></a>
			<a class="ListMusic-icon u-icon icon-corazon" href="#"></a>
			<a class="ListMusic-icon u-icon icon-descargar" href="#"></a>
		</li>
		<li class="ListMusic-item">Marilyn Monroe
			<a class="ListMusic-icon u-icon icon-cruz" href="#"></a>
			<a class="ListMusic-icon u-icon icon-corazon" href="#"></a>
			<a class="ListMusic-icon u-icon icon-descargar" href="#"></a>
		</li>
		<li class="ListMusic-item">Marilyn Monroe
			<a class="ListMusic-icon u-icon icon-cruz" href="#"></a>
			<a class="ListMusic-icon u-icon icon-corazon" href="#"></a>
			<a class="ListMusic-icon u-icon icon-descargar" href="#"></a>
		</li>
		<li class="ListMusic-item">Marilyn Monroe
			<a class="ListMusic-icon u-icon icon-cruz" href="#"></a>
			<a class="ListMusic-icon u-icon icon-corazon" href="#"></a>
			<a class="ListMusic-icon u-icon icon-descargar" href="#"></a>
		</li>
		<li class="ListMusic-item">Marilyn Monroe
			<a class="ListMusic-icon u-icon icon-cruz" href="#"></a>
			<a class="ListMusic-icon u-icon icon-corazon" href="#"></a>
			<a class="ListMusic-icon u-icon icon-descargar" href="#"></a>
		</li>
		<li class="ListMusic-item">Marilyn Monroe
			<a class="ListMusic-icon u-icon icon-cruz" href="#"></a>
			<a class="ListMusic-icon u-icon icon-corazon" href="#"></a>
			<a class="ListMusic-icon u-icon icon-descargar" href="#"></a>
		</li>
		<li class="ListMusic-item">Marilyn Monroe
			<a class="ListMusic-icon u-icon icon-cruz" href="#"></a>
			<a class="ListMusic-icon u-icon icon-corazon" href="#"></a>
			<a class="ListMusic-icon u-icon icon-descargar" href="#"></a>
		</li>
		<li class="ListMusic-item">Marilyn Monroe
			<a class="ListMusic-icon u-icon icon-cruz" href="#"></a>
			<a class="ListMusic-icon u-icon icon-corazon" href="#"></a>
			<a class="ListMusic-icon u-icon icon-descargar" href="#"></a>
		</li>
		</ul>
		</section>
	</section>
	<section class="Section">
		<article class="Section-article">
			<figure class="Section-imageConteiner">
				<img class="Section-image u-image" src="../statics/img/albunMusicas/pharrellWilliams.jpg" alt="">
				<figcaption class="Section-imageFigcaption">

					<h2 class="Section-title1"><a class="Section-link1 u-title1" href="#">Girl</a></h2>
					<h3 class="Section-title2"><a class="Section-link2 u-title2" href="#">Pharrel Williams</a></h3>
				</figcaption>
			</figure>
		</article>
		<article class="Section-article">
			<figure class="Section-imageConteiner">
				<img class="Section-image u-image" src="../statics/img/albunMusicas/pharrellWilliams.jpg" alt="">
				<figcaption class="Section-imageFigcaption">
					<h2 class="Section-title1"><a class="Section-link1 u-title1" href="#">Girl</a></h2>
					<h3 class="Section-title2"><a class="Section-link2 u-title2" href="#">Pharrel Williams</a></h3>
				</figcaption>
			</figure>
		</article>
		<article class="Section-article">
			<figure class="Section-imageConteiner">
				<img class="Section-image u-image" src="../statics/img/albunMusicas/pharrellWilliams.jpg" alt="">
				<figcaption class="Section-imageFigcaption">
					<h2 class="Section-title1"><a class="Section-link1 u-title1" href="#">Girl</a></h2>
					<h3 class="Section-title2"><a class="Section-link2 u-title2" href="#">Pharrel Williams</a></h3>
				</figcaption>
			</figure>
		</article>
		<article class="Section-article">
			<figure class="Section-imageConteiner">
				<img class="Section-image u-image" src="../statics/img/albunMusicas/pharrellWilliams.jpg" alt="">
				<figcaption class="Section-imageFigcaption">
					<h2 class="Section-title1"><a class="Section-link1 u-title1" href="#">Girl</a></h2>
					<h3 class="Section-title2"><a class="Section-link2 u-title2" href="#">Pharrel Williams</a></h3>
				</figcaption>
			</figure>
		</article>
		<article class="Section-article">
			<figure class="Section-imageConteiner">
				<img class="Section-image u-image" src="../statics/img/albunMusicas/pharrellWilliams.jpg" alt="">
				<figcaption class="Section-imageFigcaption">
					<h2 class="Section-title1"><a class="Section-link1 u-title1" href="#">Girl</a></h2>
					<h3 class="Section-title2"><a class="Section-link2 u-title2" href="#">Pharrel Williams</a></h3>
				</figcaption>
			</figure>
		</article>
		<article class="Section-article">
			<figure class="Section-imageConteiner">
				<img class="Section-image u-image" src="../statics/img/albunMusicas/pharrellWilliams.jpg" alt="">
				<figcaption class="Section-imageFigcaption">
					<h2 class="Section-title1"><a class="Section-link1 u-title1" href="#">Girl</a></h2>
					<h3 class="Section-title2"><a class="Section-link2 u-title2" href="#">Pharrel Williams</a></h3>
				</figcaption>
			</figure>
		</article>

		<article class="Section-article">
			<figure class="Section-imageConteiner">
				<img class="Section-image u-image" src="../statics/img/albunMusicas/pharrellWilliams.jpg" alt="">
				<figcaption class="Section-imageFigcaption">

					<h2 class="Section-title1"><a class="Section-link1 u-title1" href="#">Girl</a></h2>
					<h3 class="Section-title2"><a class="Section-link2 u-title2" href="#">Pharrel Williams</a></h3>
				</figcaption>
			</figure>
		</article>
		<article class="Section-article">
			<figure class="Section-imageConteiner">
				<img class="Section-image u-image" src="../statics/img/albunMusicas/pharrellWilliams.jpg" alt="">
				<figcaption class="Section-imageFigcaption">
					<h2 class="Section-title1"><a class="Section-link1 u-title1" href="#">Girl</a></h2>
					<h3 class="Section-title2"><a class="Section-link2 u-title2" href="#">Pharrel Williams</a></h3>
				</figcaption>
			</figure>
		</article>
		<article class="Section-article">
			<figure class="Section-imageConteiner">
				<img class="Section-image u-image" src="../statics/img/albunMusicas/pharrellWilliams.jpg" alt="">
				<figcaption class="Section-imageFigcaption">
					<h2 class="Section-title1"><a class="Section-link1 u-title1" href="#">Girl</a></h2>
					<h3 class="Section-title2"><a class="Section-link2 u-title2" href="#">Pharrel Williams</a></h3>
				</figcaption>
			</figure>
		</article>
		<article class="Section-article">
			<figure class="Section-imageConteiner">
				<img class="Section-image u-image" src="../statics/img/albunMusicas/pharrellWilliams.jpg" alt="">
				<figcaption class="Section-imageFigcaption">
					<h2 class="Section-title1"><a class="Section-link1 u-title1" href="#">Girl</a></h2>
					<h3 class="Section-title2"><a class="Section-link2 u-title2" href="#">Pharrel Williams</a></h3>
				</figcaption>
			</figure>
		</article>
		<article class="Section-article">
			<figure class="Section-imageConteiner">
				<img class="Section-image u-image" src="../statics/img/albunMusicas/pharrellWilliams.jpg" alt="">
				<figcaption class="Section-imageFigcaption">
					<h2 class="Section-title1"><a class="Section-link1 u-title1" href="#">Girl</a></h2>
					<h3 class="Section-title2"><a class="Section-link2 u-title2" href="#">Pharrel Williams</a></h3>
				</figcaption>
			</figure>
		</article>
		<article class="Section-article">
			<figure class="Section-imageConteiner">
				<img class="Section-image u-image" src="../statics/img/albunMusicas/pharrellWilliams.jpg" alt="">
				<figcaption class="Section-imageFigcaption">
					<h2 class="Section-title1"><a class="Section-link1 u-title1" href="#">Girl</a></h2>
					<h3 class="Section-title2"><a class="Section-link2 u-title2" href="#">Pharrel Williams</a></h3>
				</figcaption>
			</figure>
		</article>

	</section>
	
	<script type="text/javascript" src="http://underscorejs.org/underscore.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

	<script type="text/javascript" src="http://backbonejs.org/backbone.js"></script>

</body>
</html>